/* *{
    margin: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Lobster&family=Oswald&display=swap');

body{
    margin: 0;
    text-align: center;
    color: #484b4b;
    
}
h1{
    margin-top: 0;
    color: rgb(76, 95, 95);    
}

h2{
    color: rgb(230, 142, 28);
}

p{
    line-height: 2;
}

.name{
    font-family: 'Lobster', sans-serif;
    color: #c0d6f7;
}



.inro{
    font-family: 'Barlow Condensed', sans-serif;
    color: #404d41;
}

.top_container{
    background-color: #28abb9;
    padding-top: 100px;
    
    
    
}
   

.top-cloud{
    position: relative;
    left: 300px;
}
.bottom-cloud{
    position: absolute;
    position: 300px;
}


.propic{
    border-radius: 50%;
}

.middle_container{
    margin-top: 65px;
    margin-bottom: 65px;
}



.skill{
    width: 50%;
    margin:65px auto 65px auto;
    text-align: left;

}

.skill-img{
    width: 150px;
    float: left;
    margin-right: 30px;
}

.-img{
    width: 150px;
    float: right;
    margin-left: 30px;
}

hr{
    border-style: dotted none none;
    border-width: 10px;
    width: 5%;
    color: #d8caa8;
}

.contact{
    margin-bottom: 50px;
}

.intro{
    width: 30%;
    margin: auto;
}

.footer{
    background-color: #15a8a8;
    padding: 50px 0 20px;
}

a{
    text-decoration: none;
    color: #0c5b69;
    padding: 20px 10px;
}
a:hover{
    color: rgb(234, 248, 234);
}
.copyright-text{
    color: rgb(234, 248, 234);
}

.btn:hover{
    color: rgb(67, 230, 135);
}